# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.envrc
*.env

# VS Code / IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db